from uuid import UUID
from typing import Annotated

from fastapi import APIRouter, Depends, status

from app_layer_base.base.deps.params.page import PaginationParam
from app_layer_base.base.exceptions.basic import NotFoundException
from app_layer_base.base.repos.query_options import ListQueryOptions
from app_layer_base.base.schemas.delete_resp import DeleteResponse
from app_layer_base.base.schemas.paginated import PaginatedList
from ${import_prefix}.${plural_name}.schemas import ${class_name}Create, ${class_name}Read, ${class_name}Patch, ${class_name}Put
from ${import_prefix}.${plural_name}.usecases.crud import (
    Create${class_name}UseCase,
    Delete${class_name}UseCase,
    Get${class_name}UseCase,
    GetMulti${class_name}UseCase,
    Patch${class_name}UseCase,
    Put${class_name}UseCase,
)

router = APIRouter(prefix="/${plural_name}", tags=["${class_name}"], dependencies=[])


@router.post("", status_code=status.HTTP_201_CREATED, response_model=${class_name}Read)
async def create_${singular_name}(
    use_case: Annotated[Create${class_name}UseCase, Depends()],
    ${singular_name}_in: ${class_name}Create,
):
    return await use_case.execute(${singular_name}_in)


@router.get("", response_model=PaginatedList[${class_name}Read])
async def get_${plural_name}(
    use_case: Annotated[GetMulti${class_name}UseCase, Depends()],
    pagination: PaginationParam,
):
    query_options = ListQueryOptions(offset=pagination.offset, limit=pagination.limit)
    return await use_case.execute(query_options=query_options)


@router.get("/{${singular_name}_id}", response_model=${class_name}Read)
async def get_${singular_name}(
    use_case: Annotated[Get${class_name}UseCase, Depends()],
    ${singular_name}_id: UUID,
):
    ${singular_name} = await use_case.execute(${singular_name}_id)
    if not ${singular_name}:
        raise NotFoundException()
    return ${singular_name}


@router.patch("/{${singular_name}_id}", response_model=${class_name}Read)
async def patch_${singular_name}(
    use_case: Annotated[Patch${class_name}UseCase, Depends()],
    ${singular_name}_id: UUID,
    ${singular_name}_in: ${class_name}Patch,
):
    ${singular_name} = await use_case.execute(${singular_name}_id, ${singular_name}_in)
    if not ${singular_name}:
        raise NotFoundException()
    return ${singular_name}


@router.put("/{${singular_name}_id}", response_model=${class_name}Read)
async def put_${singular_name}(
    use_case: Annotated[Put${class_name}UseCase, Depends()],
    ${singular_name}_id: UUID,
    ${singular_name}_in: ${class_name}Put,
):
    ${singular_name} = await use_case.execute(${singular_name}_id, ${singular_name}_in)
    if not ${singular_name}:
        raise NotFoundException()
    return ${singular_name}


@router.delete("/{${singular_name}_id}", response_model=DeleteResponse)
async def delete_${singular_name}(
    use_case: Annotated[Delete${class_name}UseCase, Depends()],
    ${singular_name}_id: UUID,
):
    return await use_case.execute(${singular_name}_id)
