export { default as ${class_name}View } from './${class_name}View.svelte';
export { ${class_name}State } from './${singular_name}.svelte';
export type { ${class_name}Item, ${class_name}CreateInput } from './${singular_name}.svelte';
