from sqlalchemy.orm import Mapped, mapped_column

from app_layer_base.base.models.mixin import Base, TimestampMixin, UUIDMixin


class ${class_name}(Base, UUIDMixin, TimestampMixin):
    __tablename__ = "${plural_name}"
    name: Mapped[str] = mapped_column()
